.snackbar-container{
    border-radius: 12px!important;
    background-color: #000000aa!important;
}
.OwO-body{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: #ffffff77!important;
}

.snackbar-container .action{
    color:var(--june-theme)!important;
    background-color: transparent!important;
}
.snackbar-container{
    font-family: HYTMR,'PingFang SC','Ubuntu Mono','Noto Sans','Microsoft Yahei','SimSun'!important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
@media screen and (max-width:640px) {
    .snackbar-container {
        border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -ms-border-radius: 0px !important;
        -o-border-radius: 0px !important;
    }
}